.post {
    background: var(--cor-2);
    border-radius: 8px;
    padding: 2.5rem;
}

.post + .post {
    margin-top: 2rem;
}

.content {
    line-height: 1.6;
    color: white;
    margin-top: 1.5rem;
}

.content p {
    margin-top: 1rem;
}

.content a {
    font-weight: bold;
    color: var(--verde-1);
    text-decoration: none;
}

.content a:hover{
    color: var(--verde-2);
}

.post > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post > header time {
    font-size: 0.875rem;
    color: var(--cor-4);
}

.author{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.authorInfo strong {
    display: block;
    color: white;
    line-height: 1.6;
}

.authorInfo span {
    display: block;
    font-size: 0.875rem;
    color: white;
    line-height: 1.6;
}

.commentForm{
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--verde-4);
}

.commentForm > strong {
    line-height: 1.6;
    color: var(--verde-4);
}

.commentForm textarea {
    width: 100%;
    background: var(--cor-1);
    border: 0;
    resize: none;
    height: 6rem;
    padding: 1rem;
    border-radius: 8px;
    color: var(--cor-5);
    line-height: 1.4;
    margin-top: 1rem;
}

.commentForm button[type=submit] {
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 8px;
    border: 0;
    background: var(--verde-1);
    color: white;
    font-weight: bold;
    cursor: pointer;

    transition: background-color 0.1s;
}

.commentForm button[type=submit]:hover{
    background: var(--verde-2);
    color: rgb(46, 61, 46);
}

.commentList {
    margin-top: 2rem;
}