#addTarefa {
    width: 638px;
    height: 23px;
    padding: 16px;
    box-shadow: 1px 1px 8px 1px black;
    border-radius: 8px;
    border: 1px;
    gap: 8px;
    background: var(--cinza-2);
}

.bottomadd{
    text-align: center;
    margin-top: calc(0px - 1.5rem - 6px);
}

#criar{
    background: var(--azul-1);
    color: white;
    width: 90px;
    height: 54px;
    padding: 14px;
    border-radius: 8px;
    gap: 8px;
    margin: 8px;
 
}

.material-symbols-outlined{
    size: 19px;
}

#criar:hover {
    background: var(--azul-2);
}

@media screen and { max-width:750px ;
    #addTarefa{
        width: 70%;
    }
}